:root[data-theme="light"] {
  --text: #2a1804;
  --background: #fbe9d5;
  --primary: #563410;
  --secondary: #af8f6e;
  --accent: #76522e;
}
:root[data-theme="dark"] {
  --text: #fbe9d5;
  --background: #2a1804;
  --primary: #efcda9;
  --secondary: #917050;
  --accent: #d1ad89;
}
